<body>
  <div class="edit-component">
    <div class="edit-title">Editar Paciente</div>
    <form #pacienteForm="ngForm">
      <label>Nome:</label>
      <input type="text" [(ngModel)]="editPacienteForm.nome" name="nome" id="nome" class="input-field form-control" [value]="paciente.nome" #nome="ngModel" placeholder="Nome" required>
      <label>Sexo:</label>
      <input type="text" [(ngModel)]="editPacienteForm.sexo" name="sexo" id="sexo" class="input-field form-control" [value]="paciente.sexo" #sexo="ngModel" placeholder="Sexo" required>

      <label>Endereços:</label>

      <h3>Endereço 1:</h3>
      <label>Rua:</label>
      <input type="text" [(ngModel)]="editPacienteForm.enderecos[0]!.rua" name="rua1" id="rua1" class="input-field form-control" placeholder="Rua" required>
      <label>Número:</label>
      <input type="text" [(ngModel)]="editPacienteForm.enderecos[0]!.numero" name="numero1" id="numero1" class="input-field form-control" placeholder="Numero" required>
      <label>Bairro:</label>
      <input type="text" [(ngModel)]="editPacienteForm.enderecos[0]!.bairro" name="bairro1" id="bairro1" class="input-field form-control" placeholder="Bairro" required>
      <label>Cidade:</label>
      <input type="text" [(ngModel)]="editPacienteForm.enderecos[0]!.cidade" name="cidade1" id="cidade1" class="input-field form-control" placeholder="Cidade" required>
      <label>Estado:</label>
      <input type="text" [(ngModel)]="editPacienteForm.enderecos[0]!.estado" name="estado1" id="estado1" class="input-field form-control" placeholder="Estado" required>

      <div style="{{editPacienteForm.enderecos[1] ? '' : 'display: none'}}">
        <h3>Endereço 2:</h3>
        <label>Rua:</label>
        <input type="text" [(ngModel)]="editPacienteForm.enderecos[1]!.rua" name="rua2" id="rua2" class="input-field form-control" placeholder="Rua" required>
        <label>Número:</label>
        <input type="text" [(ngModel)]="editPacienteForm.enderecos[1]!.numero" name="numero2" id="numero2" class="input-field form-control" placeholder="Numero" required>
        <label>Bairro:</label>
        <input type="text" [(ngModel)]="editPacienteForm.enderecos[1]!.bairro" name="bairro2" id="bairro2" class="input-field form-control" placeholder="Bairro" required>
        <label>Cidade:</label>
        <input type="text" [(ngModel)]="editPacienteForm.enderecos[1]!.cidade" name="cidade2" id="cidade2" class="input-field form-control" placeholder="Cidade" required>
        <label>Estado:</label>
        <input type="text" [(ngModel)]="editPacienteForm.enderecos[1]!.estado" name="estado2" id="estado2" class="input-field form-control" placeholder="Estado" required>
      </div>
      <div style="{{editPacienteForm.enderecos[2] ? '' : 'display: none'}}">
        <h3>Endereço 3:</h3>
        <label>Rua:</label>
        <input type="text" [(ngModel)]="editPacienteForm.enderecos[2]!.rua" name="rua3" [value]="paciente.enderecos[2].rua" id="rua3" class="input-field form-control" placeholder="Rua" required>
        <label>Número:</label>
        <input type="text" [(ngModel)]="editPacienteForm.enderecos[2]!.numero" name="estado3" [value]="paciente.enderecos[2].numero" id="numero3" class="input-field form-control" placeholder="Numero" required>
        <label>Bairro:</label>
        <input type="text" [(ngModel)]="editPacienteForm.enderecos[2]!.bairro" name="bairro3" [value]="paciente.enderecos[2].bairro" id="bairro3" class="input-field form-control" placeholder="Bairro" required>
        <label>Cidade:</label>
        <input type="text" [(ngModel)]="editPacienteForm.enderecos[2]!.cidade" name="cidade3" [value]="paciente.enderecos[2].cidade" id="cidade3" class="input-field form-control" placeholder="Cidade" required>
        <label>Estado:</label>
        <input type="text" [(ngModel)]="editPacienteForm.enderecos[2]!.estado" name="estado3" [value]="paciente.enderecos[2].estado" id="estado3" class="input-field form-control" placeholder="Estado" required>
      </div>

      <label>CPF:</label>
      <h4 *ngIf="invalidCpf" class="invalid-input">CPF inválido!</h4>
      <input type="text" [(ngModel)]="editPacienteForm.cpf" name="cpf" id="cpf" class="input-field form-control" [value]="paciente.cpf" placeholder="CPF" required>
      <label>Celular:</label>
      <input type="text" [(ngModel)]="editPacienteForm.celular" name="celular" id="celular"  class="input-field form-control" [value]="paciente.celular" placeholder="Celular" required>
      <label>Data de Nascimento:</label>
      <input type="date" [(ngModel)]="editPacienteForm.dataNascimento" name="dataNascimento" id="dataNascimento" class="input-field form-control" [value]="paciente.dataNascimento" placeholder="Data de Nascimento" required>
      <label>Email:</label>
      <h4 *ngIf="invalidEmail"class="invalid-input">Email inválido!</h4>
      <input type="email" [(ngModel)]="editPacienteForm.email" name="email" id="email" class="input-field form-control" [value]="paciente.email" placeholder="E-Mail" required>
      <label>Informações dos atendimentos:</label>
      <input type="text" [(ngModel)]="editPacienteForm.informacaoAtendimento" name="informacaoAtendimento" id="informacaoAtendimento" class="input-field form-control" [value]="paciente.informacaoAtendimento" placeholder="Informações sobre consulta..." required>
      <div class="button-container">
        <button class="cancel-button" (click)="closeEditOverlay()">Cancelar</button>
        <button type="submit" class="save-button" (click)="onSaveClick()">Salvar</button>
        <button class="delete-button" (click)="onDeleteClick()">Deletar</button>
      </div>
    </form>
  </div>
</body>
