<body>
  <div class="edit-component">
    <div class="edit-title">Editar Elemento: John Doe</div>
    <input type="text" class="input-field" placeholder="Nome">
    <input type="text" class="input-field" placeholder="Sexo">
    <input type="text" class="input-field" placeholder="Endereco">
    <input type="text" class="input-field" placeholder="CPF">
    <input type="text" class="input-field" placeholder="Celular">
    <input type="date" class="input-field" placeholder="Data de Nascimento">
    <input type="text" class="input-field" placeholder="E-Mail">
    <div class="button-container">
      <button class="cancel-button">Cancelar</button>
      <button class="save-button">Salvar</button>
    </div>
  </div>
</body>
